<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "me2.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Julie Park</h1>
    <p>Join me on my daily muses, inspirations, and ramblings about
    my life as a developer, designer, traveler, photographer, foodie, coffee enthusiast and a huge dog lover.</p>
  </div>
</div>
